<turbo-frame id="<%= dom_id person %>" class="block">
<div class="block">
  <%= person.name %>
  <%= link_to "Show", person_path(person),
              class: "btn bg-gray-100"%>

</div>
  
</turbo-frame>
